*,
*::after,
*::before,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

body,
html {
  background-color: #151515;
  color: #e1e1e1;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
